#root {
  height: 100vh;
}

.map-container {
  width: 100%;
  height: 46vh;
}

.detailimage {
  max-height: 16rem;
  width: 54%;
  object-fit: cover;
}

.stickytab {
  position: sticky;
  top: 47vh;
  z-index: 1;
}

.full {
  position: sticky;
  top: 0;
}

.carddetails {
  width: 46%;
}

.buttonrow {
  height: 6vh;
}

.mynav {
  height: 7vh;
}

.heading {
  font-weight: 999;
}

.botpad {
  padding-bottom: 1vh;
}

.logopad {
  padding: 0 0 0.5em 0.5em;
}

.location {
  color: white;
  align-items: center;
  border-radius: 50%;
  font-size: 1rem;
  height: 5px;
  width: 5px;
  transition: all 0.3s ease-out;
  padding: 1.2rem;
}

.icon i {
  height: 20px;
  width: auto;
}

.details {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.highlight .details {
  display: flex;
  text-align: center;
}

.highlight {
  height: auto;
  width: auto;
  max-width: 10rem;
}

.markerimg {
  width: 9rem;
  max-height: 4rem;
  object-fit: cover;
}

.markerphoto {
  max-width: 200px;
}

.box {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  max-height: 32vh;
  height: 100%;
}

.modalbox {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4em;
}

.carouselbutton {
  padding: 0;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  border-color: var(--water-color);
  background-color: white;
}

.carouselimg {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  max-height: 31vh;
}

.listicon {
  width: 2em;
}

.center {
  width: 100%;
}

.routecard {
  width: 50%;
}

.modalcarousel {
  max-height: 90vh;
  object-fit: cover;
}

@media screen and (min-width: 1200px) {
  .carouselimg.p-2 {
    object-fit: contain;
  }
}

@media screen and (min-width: 768px) {
  .map-container {
    width: 100%;
    height: 100vh;
  }

  .full {
    position: fixed;
    left: 50%;
    top: 0;
  }

  .stickytab {
    top: 7vh;
  }

  .detailimage {
    height: 22vh;
    width: 100%;
  }

  .carddetails {
    width: auto;
  }
}
