.map-container {
  height: 46vh;
}

.detail-image {
  width: 54%;
  object-fit: cover;
}

.sticky-tab {
  position: sticky;
  top: 47vh;
  z-index: 1;
}

.full {
  position: sticky;
  top: 0;
}

.card-details {
  width: 46%;
}

.my-nav {
  height: 7vh;
}

.heading {
  font-weight: 800;
}

.map-padding {
  padding-bottom: 0.8rem;
}

.location {
  color: white;
  align-items: center;
  border-radius: 50%;
  font-size: 1rem;
  height: 5px;
  width: 5px;
  transition: all 0.3s ease-out;
  padding: 1.2rem;
}

.icon i {
  font-size: 1rem;
}

.details {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.highlight .details {
  display: flex;
  text-align: center;
}

.highlight {
  height: auto;
  width: auto;
  max-width: 10rem;
}

.marker-image {
  width: 140px;
  max-height: 64px;
  object-fit: cover;
}

.marker-photo {
  max-width: 200px;
}

.box {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
}

.dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4em;
}

.carousel-button {
  padding: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border-color: var(--water-color);
  background-color: white;
}

.carousel-image {
  max-height: 40vh;
  width: 100%;
  object-fit: cover;
}

.list-icon {
  width: 24px;
}

.route-card {
  width: 50%;
}

.modal-carousel-image {
  max-height: 84vh;
  object-fit: cover;
}

.main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  .map-container {
    height: 100vh;
  }

  .full {
    position: fixed;
    left: 50%;
    top: 0;
  }

  .sticky-tab {
    top: 7vh;
  }

  .detail-image {
    height: 22vh;
    width: 100%;
  }

  .card-details {
    width: auto;
  }
}
