:root {
  --hiking-color: rgba(255, 123, 0, 0.988);
  --parks-color: rgb(3, 145, 3);
  --water-color: rgb(59, 94, 249);
  --attractions-color: rgb(214, 42, 23);
  --snow-color: rgb(18, 219, 219);
}

* {
  font-family: Inter, sans-serif;
}

.card-body {
  font-size: 0.8rem;
}

.cardbutton {
  font-size: 0.6rem;
}

@media screen and (min-width: 768px) {
  .card-body {
    font-size: 0.9rem;
  }

  .cardbutton {
    font-size: 0.7rem;
  }
}

.hiddenbox {
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.359);
}

.location:has(.fa-camera-retro) {
  background-color: var(--parks-color);
}

.location.highlight:has(.fa-camera-retro) {
  color: var(--parks-color);
  background-color: white;
}

.location:has(.fa-utensils) {
  background-color: var(--attractions-color);
}

.location.highlight:has(.fa-utensils) {
  color: var(--attractions-color);
  background-color: white;
}

.location:has(.fa-snowflake) {
  background-color: var(--snow-color);
}

.location.highlight:has(.fa-snowflake) {
  color: var(--snow-color);
  background-color: white;
}

.location:has(.fa-person-hiking) {
  background-color: var(--hiking-color);
}

.location.highlight:has(.fa-person-hiking) {
  color: var(--hiking-color);
  background-color: white;
}

.location:has(.fa-sailboat) {
  background-color: var(--water-color);
}

.location.highlight:has(.fa-sailboat) {
  color: var(--water-color);
  background-color: white;
}

.grey {
  color: #595f65;
}

.smalltext {
  font-size: smaller;
}

.gold {
  color: gold;
}

.white {
  background-color: white;
}

.blue {
  color: #0c70e5;
}

.backwhite {
  background-color: #f8f9fa;
}

.main {
  height: 93vh;
  transition: cubic-bezier(1, 0, 0, 1);
}

.card-title {
  font-weight: bolder;
}

.iconxl {
  font-size: xx-large;
}

.carouselbutton.selected {
  background-color: var(--water-color);
}

.pointer {
  cursor: pointer;
}
